{% extends "base_course.html" %}
{% block course_body %}
<div class="row-fluid" >
	<div class="span9">
		<div class="well span12">
			<h4>{{lesson_title}} <small>{{unit_title}}</small></h4>
			<br>
			{{qalert | safe}}
			{{extras |safe}}
			<br>		
			<div class="hidden-phone">
				<a class = "btn btn-primary" href="/course/{{course.name}}/questions/add?tag_suggestion={{tag_suggestion}}">
					<i class="icon-question-sign icon-white"></i> Ask for help
				</a>
				<a class = "btn btn btn-info" href="/course/{{course.name}}/discussion?tag={{tag_suggestion}}">
					<i class="icon-search icon-white"></i> Find help</a>
			</div>

			<div class="visible-phone">
				<br>
				<a class = "btn btn-primary btn-large" href="/course/{{course.name}}/questions/add?tag_suggestion={{tag_suggestion}}">Ask for help</a>
				<a class = "btn btn-info btn-large" href="/course/{{course.name}}/discussion?tag={{tag_suggestion}}">Find help</a>
			</div>		
		</div>
	</div>
	<div class="span3" style="font-size:8pt">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				{{unit_tab_labels | safe}}
			</ul>
			<div class="tab-content">
				{{unit_tab_content | safe}}
			<div>
		</div>	
	</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script>
// By Chris Coyier & tweaked by Mathias Bynens
// A big thanks to the authors above for the code below! 
// Find it yourself at: http://css-tricks.com/fluid-width-youtube-videos/
$(function() {

	// Find all YouTube videos
	var $allVideos = $("iframe[src^='http://www.youtube.com']"),

	    // The element that is fluid width
	    $fluidEl = $("#video-well");

	// Figure out and save aspect ratio for each video
	$allVideos.each(function() {

		$(this)
			.data('aspectRatio', this.height / this.width)
			
			// and remove the hard coded width/height
			.removeAttr('height')
			.removeAttr('width');

	});

	// When the window is resized
	// (You'll probably want to debounce this)
	$(window).resize(function() {

		var newWidth = $fluidEl.width();
		
		// Resize all videos according to their own aspect ratio
		$allVideos.each(function() {

			var $el = $(this);
			$el
				.width(newWidth)
				.height(newWidth * $el.data('aspectRatio'));

		});

	// Kick off one resize to fix all videos on page load
	}).resize();

});
</script>


{% endblock %}
